@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #35bfc4 !important;
}
.bg-success {
  background-color: #2969b0 !important;
}
.bg-info {
  background-color: #2969b0 !important;
}
.bg-warning {
  background-color: #2969b0 !important;
}
.bg-danger {
  background-color: #2969b0 !important;
}
.btn-primary {
  background-color: #35bfc4;
  border-color: #35bfc4;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #258488;
  border-color: #258488;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #258488 !important;
  border-color: #258488 !important;
}
.btn-secondary {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-info {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-success {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-warning {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-danger {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #1f7174;
  color: #1f7174;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #35bfc4;
  border-color: #35bfc4;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #35bfc4 !important;
  border-color: #35bfc4 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-info-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-success-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.text-primary {
  color: #35bfc4 !important;
}
.text-success {
  color: #2969b0 !important;
}
.text-info {
  color: #2969b0 !important;
}
.text-warning {
  color: #2969b0 !important;
}
.text-danger {
  color: #2969b0 !important;
}
.alert-success {
  background-color: #2969b0;
}
.alert-info {
  background-color: #2969b0;
}
.alert-warning {
  background-color: #2969b0;
}
.alert-danger {
  background-color: #2969b0;
}
.btn-social {
  border-color: #35bfc4;
}
.btn-social:hover {
  background: #35bfc4;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #35bfc4;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #35bfc4;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #35bfc4;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #35bfc4;
}
.lead a,
.lead a:hover {
  color: #35bfc4;
}
.lead blockquote {
  border-color: #35bfc4;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #96e0e3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #35bfc4;
}
#ext_menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bitter', serif;
}
#ext_menu-1 .navbar-toggler {
  color: #553982;
}
#ext_menu-1 .close-icon::before,
#ext_menu-1 .close-icon::after {
  background-color: #553982;
}
#ext_menu-1 .link,
#ext_menu-1 .dropdown-item {
  color: #553982;
}
#ext_menu-1 .link {
  font-size: 0.95rem;
}
#ext_menu-1 .dropdown-item,
#ext_menu-1 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-1 .link:hover,
#ext_menu-1 .dropdown-item:hover,
#ext_menu-1 .link:focus,
#ext_menu-1 .dropdown-item:focus {
  color: #35bfc4;
}
#ext_menu-1 .link[aria-expanded="true"],
#ext_menu-1 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-1 .nav-dropdown-sm .link:focus,
#ext_menu-1 .nav-dropdown-sm .link:hover,
#ext_menu-1 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-1 .navbar,
#ext_menu-1 .nav-dropdown-sm,
#ext_menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-1 .bg-color.transparent .link {
  color: #553982;
  transition: none;
}
#ext_menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1 .bg-color.transparent.opened .link:hover,
#ext_menu-1 .bg-color.transparent.opened .link:focus {
  color: #35bfc4;
}
#ext_menu-1 .link[aria-expanded="true"],
#ext_menu-1 .dropdown-item[aria-expanded="true"] {
  color: #35bfc4!important;
}
#slider-2 H2 {
  font-size: 48px;
  font-family: 'Lora', serif;
  text-align: left;
}
#slider-2 P {
  font-size: 20px;
  font-family: 'Lora', serif;
}
#slider-2 SPAN {
  font-size: 46px;
}
#msg-box5-7 H3 {
  color: #000000;
}
#testimonials3-b .mbr-section-title {
  color: #ffffff;
}
#testimonials3-b .mbr-author-name {
  color: #ccc;
}
#testimonials3-b .card-block P {
  text-align: center;
}
#form1-c .form-control-label {
  color: #28324e;
}
#form1-c SMALL {
  color: #232323;
}
#form1-c .mbr-section-title {
  color: #28324e;
}
#contacts3-d .btn {
  font-family: 'Oxygen', sans-serif;
}


#ext_menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-e .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bitter', serif;
}
#ext_menu-e .navbar-toggler {
  color: #553982;
}
#ext_menu-e .close-icon::before,
#ext_menu-e .close-icon::after {
  background-color: #553982;
}
#ext_menu-e .link,
#ext_menu-e .dropdown-item {
  color: #553982;
}
#ext_menu-e .link {
  font-size: 0.95rem;
}
#ext_menu-e .dropdown-item,
#ext_menu-e .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-e .link:hover,
#ext_menu-e .dropdown-item:hover,
#ext_menu-e .link:focus,
#ext_menu-e .dropdown-item:focus {
  color: #35bfc4;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-e .nav-dropdown-sm .link:focus,
#ext_menu-e .nav-dropdown-sm .link:hover,
#ext_menu-e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-e .navbar,
#ext_menu-e .nav-dropdown-sm,
#ext_menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-e .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-e .bg-color.transparent .link {
  color: #553982;
  transition: none;
}
#ext_menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-e .bg-color.transparent.opened .link:hover,
#ext_menu-e .bg-color.transparent.opened .link:focus {
  color: #35bfc4;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-item[aria-expanded="true"] {
  color: #35bfc4!important;
}
#msg-box8-i .mbr-section-title,
#msg-box8-i p {
  color: #fff;
}
#contacts3-f .btn {
  font-family: 'Oxygen', sans-serif;
}


#ext_menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-j .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bitter', serif;
}
#ext_menu-j .navbar-toggler {
  color: #553982;
}
#ext_menu-j .close-icon::before,
#ext_menu-j .close-icon::after {
  background-color: #553982;
}
#ext_menu-j .link,
#ext_menu-j .dropdown-item {
  color: #553982;
}
#ext_menu-j .link {
  font-size: 0.95rem;
}
#ext_menu-j .dropdown-item,
#ext_menu-j .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-j .link:hover,
#ext_menu-j .dropdown-item:hover,
#ext_menu-j .link:focus,
#ext_menu-j .dropdown-item:focus {
  color: #35bfc4;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-menu {
  background: #C0C0C0;
}
#ext_menu-j .nav-dropdown-sm .link:focus,
#ext_menu-j .nav-dropdown-sm .link:hover,
#ext_menu-j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-j .navbar,
#ext_menu-j .nav-dropdown-sm,
#ext_menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-j .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-j .bg-color.transparent .link {
  color: #553982;
  transition: none;
}
#ext_menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-j .bg-color.transparent.opened .link:hover,
#ext_menu-j .bg-color.transparent.opened .link:focus {
  color: #35bfc4;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-item[aria-expanded="true"] {
  color: #35bfc4!important;
}
#msg-box8-k .mbr-section-title,
#msg-box8-k p {
  color: #fff;
}
#msg-box8-k .mbr-section-title {
  font-size: 46px;
}
#contacts3-n .btn {
  font-family: 'Oxygen', sans-serif;
}


#ext_menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-o .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bitter', serif;
}
#ext_menu-o .navbar-toggler {
  color: #553982;
}
#ext_menu-o .close-icon::before,
#ext_menu-o .close-icon::after {
  background-color: #553982;
}
#ext_menu-o .link,
#ext_menu-o .dropdown-item {
  color: #553982;
}
#ext_menu-o .link {
  font-size: 0.95rem;
}
#ext_menu-o .dropdown-item,
#ext_menu-o .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-o .link:hover,
#ext_menu-o .dropdown-item:hover,
#ext_menu-o .link:focus,
#ext_menu-o .dropdown-item:focus {
  color: #35bfc4;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-menu {
  background: #C0C0C0;
}
#ext_menu-o .nav-dropdown-sm .link:focus,
#ext_menu-o .nav-dropdown-sm .link:hover,
#ext_menu-o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-o .navbar,
#ext_menu-o .nav-dropdown-sm,
#ext_menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-o .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-o .bg-color.transparent .link {
  color: #553982;
  transition: none;
}
#ext_menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-o .bg-color.transparent.opened .link:hover,
#ext_menu-o .bg-color.transparent.opened .link:focus {
  color: #35bfc4;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-item[aria-expanded="true"] {
  color: #35bfc4!important;
}
#msg-box8-p .mbr-section-title,
#msg-box8-p p {
  color: #fff;
}
#contacts3-s .btn {
  font-family: 'Oxygen', sans-serif;
}


#ext_menu-t .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-t .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bitter', serif;
}
#ext_menu-t .navbar-toggler {
  color: #553982;
}
#ext_menu-t .close-icon::before,
#ext_menu-t .close-icon::after {
  background-color: #553982;
}
#ext_menu-t .link,
#ext_menu-t .dropdown-item {
  color: #553982;
}
#ext_menu-t .link {
  font-size: 0.95rem;
}
#ext_menu-t .dropdown-item,
#ext_menu-t .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-t .link:hover,
#ext_menu-t .dropdown-item:hover,
#ext_menu-t .link:focus,
#ext_menu-t .dropdown-item:focus {
  color: #35bfc4;
}
#ext_menu-t .link[aria-expanded="true"],
#ext_menu-t .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-t .nav-dropdown-sm .link:focus,
#ext_menu-t .nav-dropdown-sm .link:hover,
#ext_menu-t .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-t .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-t .navbar,
#ext_menu-t .nav-dropdown-sm,
#ext_menu-t .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-t .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-t .bg-color.transparent .link {
  color: #553982;
  transition: none;
}
#ext_menu-t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-t .bg-color.transparent.opened .link:hover,
#ext_menu-t .bg-color.transparent.opened .link:focus {
  color: #35bfc4;
}
#ext_menu-t .link[aria-expanded="true"],
#ext_menu-t .dropdown-item[aria-expanded="true"] {
  color: #35bfc4!important;
}
#msg-box8-u .mbr-section-title,
#msg-box8-u p {
  color: #fff;
}
#features3-1l H4 {
  font-size: 19px;
}
#contacts3-x .btn {
  font-family: 'Oxygen', sans-serif;
}


#ext_menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-y .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bitter', serif;
}
#ext_menu-y .navbar-toggler {
  color: #553982;
}
#ext_menu-y .close-icon::before,
#ext_menu-y .close-icon::after {
  background-color: #553982;
}
#ext_menu-y .link,
#ext_menu-y .dropdown-item {
  color: #553982;
}
#ext_menu-y .link {
  font-size: 0.95rem;
}
#ext_menu-y .dropdown-item,
#ext_menu-y .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-y .link:hover,
#ext_menu-y .dropdown-item:hover,
#ext_menu-y .link:focus,
#ext_menu-y .dropdown-item:focus {
  color: #35bfc4;
}
#ext_menu-y .link[aria-expanded="true"],
#ext_menu-y .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-y .nav-dropdown-sm .link:focus,
#ext_menu-y .nav-dropdown-sm .link:hover,
#ext_menu-y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-y .navbar,
#ext_menu-y .nav-dropdown-sm,
#ext_menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-y .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-y .bg-color.transparent .link {
  color: #553982;
  transition: none;
}
#ext_menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-y .bg-color.transparent.opened .link:hover,
#ext_menu-y .bg-color.transparent.opened .link:focus {
  color: #35bfc4;
}
#ext_menu-y .link[aria-expanded="true"],
#ext_menu-y .dropdown-item[aria-expanded="true"] {
  color: #35bfc4!important;
}
#msg-box8-z .mbr-section-title,
#msg-box8-z p {
  color: #fff;
}
#contacts3-12 .btn {
  font-family: 'Oxygen', sans-serif;
}


#ext_menu-13 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-13 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bitter', serif;
}
#ext_menu-13 .navbar-toggler {
  color: #553982;
}
#ext_menu-13 .close-icon::before,
#ext_menu-13 .close-icon::after {
  background-color: #553982;
}
#ext_menu-13 .link,
#ext_menu-13 .dropdown-item {
  color: #553982;
}
#ext_menu-13 .link {
  font-size: 0.95rem;
}
#ext_menu-13 .dropdown-item,
#ext_menu-13 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-13 .link:hover,
#ext_menu-13 .dropdown-item:hover,
#ext_menu-13 .link:focus,
#ext_menu-13 .dropdown-item:focus {
  color: #35bfc4;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-13 .nav-dropdown-sm .link:focus,
#ext_menu-13 .nav-dropdown-sm .link:hover,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-13 .navbar,
#ext_menu-13 .nav-dropdown-sm,
#ext_menu-13 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-13 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-13 .bg-color.transparent .link {
  color: #553982;
  transition: none;
}
#ext_menu-13 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-13 .bg-color.transparent.opened .link:hover,
#ext_menu-13 .bg-color.transparent.opened .link:focus {
  color: #35bfc4;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-item[aria-expanded="true"] {
  color: #35bfc4!important;
}
#msg-box8-14 .mbr-section-title,
#msg-box8-14 p {
  color: #fff;
}
#contacts3-17 .btn {
  font-family: 'Oxygen', sans-serif;
}


#ext_menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-18 .navbar-caption {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bitter', serif;
}
#ext_menu-18 .navbar-toggler {
  color: #553982;
}
#ext_menu-18 .close-icon::before,
#ext_menu-18 .close-icon::after {
  background-color: #553982;
}
#ext_menu-18 .link,
#ext_menu-18 .dropdown-item {
  color: #553982;
}
#ext_menu-18 .link {
  font-size: 0.95rem;
}
#ext_menu-18 .dropdown-item,
#ext_menu-18 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-18 .link:hover,
#ext_menu-18 .dropdown-item:hover,
#ext_menu-18 .link:focus,
#ext_menu-18 .dropdown-item:focus {
  color: #35bfc4;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-18 .nav-dropdown-sm .link:focus,
#ext_menu-18 .nav-dropdown-sm .link:hover,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-18 .navbar,
#ext_menu-18 .nav-dropdown-sm,
#ext_menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-18 .bg-color.transparent .link {
  color: #553982;
  transition: none;
}
#ext_menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-18 .bg-color.transparent.opened .link:hover,
#ext_menu-18 .bg-color.transparent.opened .link:focus {
  color: #35bfc4;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-item[aria-expanded="true"] {
  color: #35bfc4!important;
}
#msg-box8-1a .mbr-section-title,
#msg-box8-1a p {
  color: #fff;
}
#msg-box8-1a .lead {
  color: #ffffff;
}
#features4-1d .card-subtitle {
  color: #bcbcbc;
}
#features4-1d .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#contacts3-19 .btn {
  font-family: 'Oxygen', sans-serif;
}
#social-buttons4-1o .mbr-section-title,
#social-buttons4-1o .btn-social {
  color: #fff;
}
#social-buttons4-1o .mbr-section-title {
  color: #322b2b;
  font-size: 8px;
}
